*{
    color: maroon;
}
p, li {
    font-style: italic;
    font-weight: bold;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-size: 60px;
    text-align: center;
}
.bold {
    font-weight: bold;
}
p.bold {
    text-decoration:underline;
}
li.bold {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
#subjectintro {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod;
    font-weight: bold;
}